/* Titulo */
.titulo {
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Tarjetas */
.card {
    flex: 1 1 calc(25% - 2rem); /*Las tarjetas ocupan aproximadamente el 25% del ancho del contenedor*/ 
    max-width: 18rem;       
    margin: 0.5rem;            
  }
  
  .card img {
    max-width: 100%;
    height: auto;                
  }
  
  /* Botón dentro de la tarjeta */
  .card .btn {
    display: block;
    width: 100%;                 /* El botón ocupa el 100% del ancho del contenedor padre */
    text-align: center;
  }
  .card img {
    height: 200px;            
    object-fit: cover;           /* Corta la imagen para que ocupe el contenedor, manteniendo su proporción */
  }

  .carousel-item {
    max-height: 620px; 
  }
  
  .carousel-item img {
    width: 50%;
    height: auto;
    object-fit: cover; 
  }

  .carousel-inner {
    max-height: 620px; 
  }